<h1>Controller --> View</h1>

<a asp-controller="Informacion" asp-action="Index">Volver Al Menú</a>

<hr />

<h2 style="color:blue">
    Nombre: @ViewBag.Nombre
</h2>
<h2 style="color:blueviolet">
    Descripcion: @ViewBag.Descripcion
</h2>
<h2 style="color:green">
    Año: @ViewBag.Year
</h2>
<p>No hay comprobacion de errores</p>