<h1>Menu</h1>
<a asp-controller="Practicas" asp-action="EjemploColecciones">Ver Todos los comics</a>
<a asp-controller="Practicas" asp-action="SumarNumerosGet" asp-route-numero1="10" asp-route-numero2="5">Sumar dos numeros con Get</a>
<a asp-controller="Practicas" asp-action="SumarNumerosPost">Sumar dos numeros</a>

