<h1 style="color:blue">Sumar dos numeros POST</h1>

<a asp-controller="Practicas" asp-action="Menu">Volver al menu</a>
<hr />
<form method="post">
    <label>Introduce un numero</label>
    <input type="number" name="numero1" class="form-control" />
    <label>Introduce un numero</label>
    <input type="number" name="numero2" class="form-control" />
    <hr />
    <button class="btn btn-info">Enviar datos</button>
</form>

@if (ViewBag.Suma != null)
{
    <h1>La suma es: @ViewBag.Suma</h1>
}

