@model List<Hospital>
<h1>General</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td>Numero de camas</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital hosp in Model)
        {
        <tr>
            <td><a class="btn btn-info" asp-controller="HospitalPlantilla" asp-action="Index">Ver Plantilla</a></td>
            <td><a class="btn btn-info" asp-controller="HospitalPlantilla" asp-action="Index">Ver Plantilla</a></td>
            <th>@hosp.Nombre</th>
            <th>@hosp.Direccion</th>
            <th>@hosp.Telefono</th>
            <th>@hosp.Num_cama</th>
        </tr>
        }
    </tbody>
</table>

