<h1 style="color:blue">Hospitales Disponibles</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Provincial">Provincial</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="General">General</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Lapaz">La Paz</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Sancarlos">San Carlos</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Ruber">Ruber</a>
    </li>
</ul>
