<h1 style="color:blue">Hospitales Disponibles</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Index" asp-route-codehospital="Provincial">Provincial</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Index" asp-route-codehospital="General">General</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Index" asp-route-codehospital="La Paz">La Paz</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Index" asp-route-codehospital="San Carlos">San Carlos</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hospital" asp-action="Index" asp-route-codehospital="Ruber">Ruber</a>
    </li>
</ul>
