@model List<int>
@{ 
    List<int> randoms = ViewBag.Random as List<int>;
}
<h1>Conjetura Collatz</h1>
<form method="post">
    <select class="form-control" name="numero">
        @foreach(int numero in randoms)
            {
                <option value="@numero">@numero</option>
            }
    </select>
    <button type="submit" class="btn btn-danger">Mostrar Conjetura</button>
</form>

@if(Model != null)
            {
                <ul>
                    @foreach(int numero in Model)
                {
                    <li>@numero</li>
                }
                </ul>
            }
