@model Bici
<h1 style="color:blue">Bici2</h1>

<h1 style="color:blue">Marca: @Model.Marca</h1>
<h1 style="color:blue">Modelo: @Model.Modelo</h1>
<h2>Velocidad Maxima: @Model.VelocidadMaxima.</h2>
<h2>Velocidad Maxima: @Model.Velocidad.</h2>